name: 'CodeQL Scan'
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  call-workflow-scan-python:
    uses: uoio1/reusable-workflow/.github/workflows/reuseable-scan-code.yaml@master
    with:
      language: python
      path: python-code-folder
